<!-- 关于我页面 -->
<div id="about">
    <div class="about-inner">
        <article>
            <h1><%= page.title %>
                <hr>
            </h1>

            <div class="content">
                <%- page.content %>
            </div>
            <hr>

        </article>
        <%- partial('partials/declaration') %>
    </div>
</div>