<div id="about">
	<div class="about-inner">
	<article>
    <h1><%=page.title%><hr></h1>

		<div class="content">
    	<%-page.content%>
		</div>
		<hr>

  </article>
  <nav id="menu">
    <a href="/">Home</a>
    <a href="/archives">Archives</a>
    <a href="/tags">Tags</a>
    <a href="/categories">Categories</a>
  </nav>
		<%-partial('partials/declaration')%>
  </div>
</div>