<div id="category">
	<div class="category-inner">
	<% if(site.categories.length>0) { 
	     site.categories.each(function(category){  console.log(category);%>
	     
	<div class="category-container"><a class="category" href="<%=category.path%>"><%=category.name%>
	</a></div>
	<% })} %>
	</div>
</div>
