<% if(is_category()) { %>
<%- partial('partials/archive', {archive: page}) %>
<% } else { %>

<div id="category">
    <div class="category-inner">
        <% if(site.categories.length > 0) {
        site.categories.each(function(category){ %>

        <div class="category-container">
            <a class="category" href="<%- url_for(category.path) %>"><%= category.name %></a>
        </div>

        <% })} %>
    </div>
</div>

<% } %>
<%- partial('partials/declaration') %>