<div id="index">
    <div class="index-inner">
        <% if (page.posts.length > 0) { %>
        <% page.posts.each(function(post) { %>
        <%- partial('partials/article',{article:post}) %>
        <% });
        } %>
        <hr>
        <%- partial('partials/navbar') %>
        <%- partial('partials/declaration') %>
    </div>
</div>