
<% if (site.posts.length > 0) { %>
  <div id="newest-post">
    <h1>Newest Post</h1>
    <% site.posts.sort('date', -1).limit(1).each(function(post) { %>
      
      <article id="page">
        <h1><%=post.title%></h1>
        <%-post.content%>
      
        <% if (!post.copylink) { %>
          <!--<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
-->
          <br />本作品采用<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">知识共享署名-相同方式共享 4.0 国际许可协议</a>进行许可。
        <% } else { %>
          <p>版权声明: 转载作品，本文来源于<a href="<%=post.copylink%>" target="_blank"><%=post.copylink%></a>，由[我]整编而成。</p>
        <% } %>

      </article>

    <% }); %>
  </div>
<% } %>